---
import Button from "./Button.astro";

interface Props {
    forceMobile?: boolean;
}

const { forceMobile = false } = Astro.props;
---

<div
    class:list={[
        "bg-[#A3599D] rounded-3xl p-3 pt-4 h-[470px] w-full",
        {
            "lg:pt-[44px] lg:p-10 lg:w-[618px] lg:h-[500px]": !forceMobile,
        },
    ]}
>
    <h3
        class:list={[
            "text-center text-white font-bold text-[30px] mb-6",
            {
                "lg:text-[32px]": !forceMobile,
            },
        ]}
    >
        Request a callback from our immigration experts
    </h3>

    <form class="space-y-4">
        <input
            type="text"
            class="w-full rounded-md px-4 py-2.5 text-sm
                   focus:outline-none focus:ring-2 focus:ring-white"
            aria-label="Full Name"
            required
        />

        <input
            type="email"
            class="w-full rounded-md px-4 py-2.5 text-sm
                   focus:outline-none focus:ring-2 focus:ring-white"
            aria-label="Email Address"
            required
        />

        <textarea
            rows="4"
            class="w-full resize-none rounded-md px-4 py-2.5 text-sm
         focus:outline-none focus:ring-2 focus:ring-white"
            aria-label="Message"
        >
        </textarea>

        <div class="pt-2 flex justify-center">
            <Button type="submit" variant="primary" size="lg" class="h-[41px] lg:h-[58px] w-[200px] lg:w-[268px]">
                Send Request
            </Button>
        </div>
    </form>
</div>
